*{
	font-family: "Verdana";
	color: #FFF;
}

body{
	background-color: #86addd;
}


#topPanel{
	background-color: #2f6fbe;
}

#topPanel #logoSpan{
	margin-left: -8px;
	margin-right: 8px;
}

#topPanel #title{
	margin-top: 12px;
    margin-bottom: 12px;
}

#userLocationPanel{
	background-color: #4086dc;
}

#websiteLocationPanel{
	background-color: #777a7d;

}

#mapPanel{
	background-color: #86addd;
}

.verticalMiddleText{
	vertical-align: middle !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 1px solid #629be2 !important;
	
}

.alert{
	border-radius: 0px !important;
	position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1000;
    top: 80px;
    opacity: .8;
    position: fixed;
    border:none;
}

.loading-progress-bar{
	padding-bottom: 0;
	margin-bottom: 0;
	height: 10px;
	margin-top:10px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: 0 none;
}

#map{
	width: 100%;
	height: 350px;
	border: solid 5px #FFF;
	margin-bottom:24px;
}

#avenueLogo{
	margin-top:7px;
}

#btnMyLocation{
	margin-top:10px;
}

#domainOrURL{
	margin-top:10px;
}

#btnResetLocation{
	margin-top:10px;
	margin-bottom: 24px;
}

#mapWrapper{
	padding-right:5px; 
	padding-left:5px; 
	width:100%;
}

#btnFitMarkers{
	margin:5px;
}

#fitMarkersIcon{
	color: #000000 !important;
}

.btn{
	border: none;
    box-shadow:none !important;
}

.btn-info, btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    background-color: #5bc0de !important;
}