<!doctype html> 
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GeoLocation App</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="css/geolocation.css">

		<script src="js/libs/jquery-1.10.2.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/MainController.js"></script>
	</head>
	<body ng-app="GeoLocationApp" ng-controller="MainController" class="ng-cloak" >
		<div id="alertPanel" class="alert alert-warning text-center" role="alert" ng-show="alertMessage">
			{{alertMessage}}
			<div class="progress loading-progress-bar">
  				<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" 
  				aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
  				</div>
			</div>
		</div>
		<div id="topPanel">
			<div id="innerTopPanel" class="container">
				<h2 class="pull-left" id="title"><span id="logoSpan" class="glyphicon glyphicon-map-marker" /></span>GeoLocation App</h2>
			</div>
		</div>
		<div id="userLocationPanel">
			<div id="innerUserLocationPanel" class="container">
				<h4>Estimated Location</h4>
				<table class="table table-condensed" align="center" cellpadding="10" cellspacing="10" ng-show="userData">
					<tbody>
						<tr data-label="query" data-data="{{userData.query}}">
							<td class="verticalMiddleText" width="40%"><strong>IP</strong></td>
							<td class="verticalMiddleText" width="50%">{{userData.query}}</td>
							<td align="right" width="10%"><button class="btn btn-info help" ng-disabled="working" 
								onclick="showMyLocationDetails('query')">?</button></td>
						</tr>
						<tr data-label="country" data-data="{{userData.country}}">
							<td class="verticalMiddleText"><strong>Country</strong></td>
							<td class="verticalMiddleText">{{userData.country}}</td>
							<td align="right"><button class="btn btn-info help" ng-disabled="working" 
								onclick="showMyLocationDetails('country')">?</button></td>
						</tr>
						<tr data-label="regionName" data-data="{{userData.regionName}}">
							<td class="verticalMiddleText"><strong>Region</strong></td>
							<td class="verticalMiddleText">{{userData.regionName}}</td>
							<td align="right"><button class="btn btn-info help" ng-disabled="working" 
								onclick="showMyLocationDetails('regionName')">?</button></td>
						</tr>
						<tr data-label="city" data-data="{{userData.city}}">
							<td class="verticalMiddleText"><strong>City</strong></td>
							<td class="verticalMiddleText">{{userData.city}}</td>
							<td align="right"><button class="btn btn-info help" ng-disabled="working"
								onclick="showMyLocationDetails('city')">?</button></td>
						</tr>
						<tr data-label="timezone" data-data="{{userData.timezone}}">
							<td class="verticalMiddleText"><strong>Time Zone</strong></td>
							<td class="verticalMiddleText">{{userData.timezone}}</td>
							<td align="right"><button class="btn btn-info help" ng-disabled="working"
								onclick="showMyLocationDetails('timezone')">?</button></td>
						</tr>
						<tr data-label="lat" data-data="{{userData.lat}}">
							<td class="verticalMiddleText"><strong>Latitude</strong></td>
							<td class="verticalMiddleText">{{userData.lat}}</td>
							<td align="right"><button class="btn btn-info help" ng-disabled="working"
								onclick="showMyLocationDetails('lat')">?</button></td>
						</tr>
						<tr data-label="lon" data-data="{{userData.lon}}">
							<td class="verticalMiddleText"><strong>Longitude</strong></td>
							<td class="verticalMiddleText">{{userData.lon}}</td>
							<td align="right"><button class="btn btn-info help" ng-disabled="working"
								onclick="showMyLocationDetails('lon')">?</button></td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<button class="btn btn-info btn-lg btn-block" onclick="getMyLocation()" id="btnMyLocation" 
						ng-disabled="working">My location</button>
					</div>
					<div class="col-sm-6 col-xs-12">
						<button class="btn btn-info btn-lg btn-block" onclick="resetLocation()" id="btnResetLocation"
						ng-disabled="working" style="margin-top:10px; margin-bottom: 24px;">Reset My location</button>
					</div>
				</div>
			</div>
		</div>
		<div id="websiteLocationPanel">
			<div id="innerWebsiteLocationPanel" class="container">
				<h4>Find website physical location</h4>
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<input id="domainOrURL" type="text" ng-model="url" class="input input-lg form-control" 
						placeholder="Enter domain or url" ng-disabled="working">
						<label>{{website.url}}</label>
					</div>
					<div class="col-sm-6 col-xs-12">
						<button class="btn btn-info btn-lg btn-block" onclick="locateWebsite()" id="btnResetLocation"
						ng-disabled="working">Locate Website</button>
					</div>
				</div>
			</div>
		</div>
		<div id="mapPanel" ng-show="userData || webSiteData">
			<div id="innerMapPanel" class="container">
				<h4 class="pull-left">Location Map</h4>
				<button id="btnFitMarkers" class="btn btn-default pull-right" onclick="mapRedraw()" >
				<span id="fitMarkersIcon" class="glyphicon glyphicon-fullscreen"></span>&nbsp;Center Markers</button> 
				<div id="mapWrapper">
					<div id="map"></div>
				</div>
			</div>
		</div>

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI4L95jFwRrjIwcXpgmtLOUL_rUK5ecpg&callback=initMap"></script>
		<script type="text/javascript">
			var map;
			
			function initMap() {
			  map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 8
			  });
			}
    </script>
	</body>
</html> 
